/*

--- Tabulka v obsahu ---

*/

table {
  border-collapse: collapse;
  border-top: 1px solid #ccc;
  width: 100%;
}

td,
th {
  font: 12px/18px Arial, sans-serif;
  text-align: left;
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
}

td,
th {
	img {
		vertical-align: middle;
	}
}


// --- Tabulka s poradim ---

.table-order .score {
	text-align: center;
}

.table-order .points {
	text-align: right;
}

// Schovavame logo tymu
.hideTeamLogo() {
  .team-logo {
    width: 0;
    padding: 0;
    
    img {
      display: none;
    }
  }  
}  


@media screen and (max-width: 280px) {
  .hideTeamLogo;
}  

@media @largeUp and (max-width: 920px) {
  .hideTeamLogo;
  .matches-win,
  .matches-draw,
  .matches-loose {
    display: none;
  }
}

